@import "../../_settings/variables.scss";

.vault-panel {
  max-width: 6 * $dist-6xl;

  .vault-panel-divider {
    background: $dark-grey;
    height: 1px;
  }

  .vault-fees, .vault-transactions, .vault-title {
    padding: $dist-s;
  }

  .vault-fees, .vault-transactions {
    padding-top: $dist-l;
  }
}
