[
    {
        "scope": "https://api.ercdex.com:443",
        "method": "GET",
        "path": "/api/orders/best?&networkId=1",
        "body": "",
        "status": 400,
        "response": {
            "fields": {
                "makerTokenAddress": {
                    "message": "'makerTokenAddress' is required"
                },
                "takerTokenAddress": {
                    "message": "'takerTokenAddress' is required"
                },
                "baseTokenAddress": {
                    "message": "'baseTokenAddress' is required"
                },
                "quantity": {
                    "message": "'quantity' is required"
                },
                "takerAddress": {
                    "message": "'takerAddress' is required"
                }
            },
            "message": "An error occurred during the request.",
            "name": "ValidateError",
            "status": 400
        },
        "rawHeaders": [
            "Tue, 04 Sep 2018 11:16:06 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "398",
            "close",
            "__cfduid=dedc5e09cd10903ddf611a42078ac266b1536059766; expires=Wed, 04-Sep-19 11:16:06 GMT; path=/; domain=.ercdex.com; HttpOnly; Secure",
            "off",
            "SAMEORIGIN",
            "max-age=15552000; includeSubDomains",
            "noopen",
            "nosniff",
            "1; mode=block",
            "*",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "45500ac28ccf431c-MXP"
        ]
    }
]