[
    {
        "scope": "https://api.ercdex.com:443",
        "method": "POST",
        "path": "/api/reports/historical",
        "body": {
            "networkId": "1",
            "baseTokenAddress": "0xe41d2489571d322189246dafa5ebde1f4699f498",
            "quoteTokenAddress": "0xc02aa39b223fe8d0a0e5c4f27ead9083c756cc2",
            "startDate": "2018-08-28T10:06:02Z"
        },
        "status": 500,
        "response": {
            "message": "Invalid token pair.",
            "name": "Error",
            "status": 500
        },
        "rawHeaders": [
            "Wed, 29 Aug 2018 17:52:15 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "61",
            "close",
            "__cfduid=dac3cf7c20ff248a4875075efb0a61d0a1535565135; expires=Thu, 29-Aug-19 17:52:15 GMT; path=/; domain=.ercdex.com; HttpOnly; Secure",
            "off",
            "SAMEORIGIN",
            "max-age=15552000; includeSubDomains",
            "noopen",
            "nosniff",
            "1; mode=block",
            "X-HTTP-Method-Override",
            "*",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4520ded18d1842f8-MXP"
        ]
    }
]