{
  "extends": [
      "plugin:react/recommended",
      "prettier",
      "prettier/react",
      "prettier/standard"
    ],
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "plugins": [
      "prettier",
      "react"
    ],
    "rules": {
      "react/require-default-props": 2,
      "prettier/prettier": [
        "error", {
          "singleQuote": true,
          "semi": false
        }
      ]
    }
}
