bin
node_modules
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
yarn-error.log*
.vscode
.idea.
.directory
rigoblock-monorepo.code-workspace

# testing
coverage

packages/deployer/package-lock\.json

packages/exchange-connector/package-lock\.json

# generated truffle contract artifacts/
packages/contracts/src/**/**/artifacts/

# generated contract artifacts/
packages/contracts/test/generated-artifacts/

# generated contract wrappers
packages/contracts/test/generated-wrappers/
