@import "../../_settings/variables.scss";

.table {
  .title {
    padding-bottom: $dist-s;
  }

  .ReactTable {
    border: none;
    background: $secondary-bg-color;
    overflow: hidden;
    border-radius: $small-border-radius;
    font-size: $base-font-size;
    .rt-th.rt-resizable-header:focus, .rt-th:focus {
      outline: none;
    }
    .rt-tr-group {
      border-radius: $small-border-radius;
    }
    .rt-tr.-even {
      background-color: $porcelain;
    }
    .rt-tbody .rt-tr-group {
      border: none;
    }
    .rt-thead.-header {
      font-weight: bold;
      background-color: $porcelain;
      box-shadow: none;
      border-bottom: 1px solid $dark-grey;
    }
    .link-icon {
      color: $azure-radiance;
    }
  }

  .ReactTable .rt-thead .rt-th, .ReactTable .rt-tbody .rt-td {
    border-right: none;
  }

  .ReactTable.-striped .rt-tr.-odd {
    background: $secondary-bg-color;
    border-radius: $small-border-radius;
  }

  .ReactTable .rt-thead .rt-resizable-header-content {
    display: flex;
    justify-content: flex-start;
  }
}

.no-data-table {
  padding: $dist-s;
  .title {
    padding-bottom: $dist-s;
  }
  .table-replacer {
    padding-top: $dist-s;
    height: 5 * $dist-6xl + 23px;
    width: 7 * $dist-4xl;
  }
}
