@import "../../_settings/variables.scss";

.view-link {
  display: flex;
  line-height: $line-height;
  color: black;

  .tooltip {
    color: black;
  }

  &:visited {
    color: black;
  }

  &:active {
    font-weight: $font-bold;
    .tooltip {
      font-weight: $font-bold;
    }
  }

  :last-child {
    padding-left: $dist-xxs;
  }

  &.active {
    font-weight: $font-bold;
    color: $link-active;

    .tooltip {
      color: $link-active;
    }
  }
}
