@import "../../_settings/variables.scss";

.view-link {
  display: flex;
  color: black;

  &.link {
    display: flex;
  }

  .icon {
    color: black;
  }

  &:visited {
    color: black;
  }

  &:active {
    font-weight: $font-bold;
    .icon {
      font-weight: $font-bold;
    }
  }

  :last-child {
    padding-left: $dist-2xs;
  }

  &.active {
    font-weight: $font-bold;
    color: $azure-radiance;

    .icon {
      color: $azure-radiance;
    }
  }
}
