[
    {
        "scope": "https://api.ethfinex.com:443",
        "method": "GET",
        "path": "/v2/candles/trade:15m:tBTCUSD/last?&limit=&sort=&start=&end=",
        "body": "",
        "status": 200,
        "response": [
            "1f8b08000000000000038b36343536333231b33400011d33136373206162a1670ca12c214296467a4686969616266626b100e70bf32033000000"
        ],
        "rawHeaders": [
            "Thu, 06 Sep 2018 15:24:06 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "chunked",
            "close",
            "__cfduid=dfaee1e5ec6c76fea9f2a20f216e0166b1536247446; expires=Fri, 06-Sep-19 15:24:06 GMT; path=/; domain=.ethfinex.com; HttpOnly",
            "*",
            "X-BFX-APIKEY,X-BFX-PAYLOAD,X-BFX-SIGNATURE,Content-Type,X-CSRF-Token,bfx-token,bfx-signature,bfx-apikey,bfx-nonce,bfx-flags",
            "gzip",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4561f0ceedf34352-MXP"
        ]
    }
]
