@import "../../_settings/variables.scss";

.account-item {
  display: flex;

  span {
    display: block;
  }

  .account-item-provider {
    font-weight: $font-bold;
  }

  .account-item-number {
    text-transform: uppercase;
  }

  .account-item-info {
    :last-child {
      padding-top: $dist-2xs;
    }
  }

  .account-item-logo {
    width: $dist-m;
    height: $dist-m;
  }

  > *:not(:last-child) {
    margin-right: $dist-xs;
  }
}
