@import "../../components/_settings/_variables.scss";

.login-content {
  width: 55%;
  margin: $dist-xl auto 0 auto;

  h3 {
    padding: $dist-xs 0;
  }

  p {
    padding: $dist-xs 0;
  }

  hr {
    margin: $dist-m 0;
    max-width: 15 * $dist-xl;
  }

  a {
    display: block;
    color: blue;
    padding: $dist-xs 0;
    text-decoration: none;
  }
}
