@import "../../_settings/variables.scss";

.preferences-form {
  .select-title {
    padding-bottom: $dist-2xs;
    padding-top: $dist-m
  }
  .call-to-action {
    padding-top: $dist-m;
  }

  .select-field {
    margin: $dist-xs 0;
  }
}
