@import "../../_settings/variables.scss";

.accounts-panel {
  max-width: 5 * $dist-6xl;

  .navbar-divider {
    width: $dist-l;
    height: 1px;
    margin: 0 $dist-2xl;
    background-color: $dark-grey;
  }

  .account-summary:first-of-type {
    padding-top: 0;
  }
}
