@import "../../_settings/variables.scss";

.create-vault-form {
  display: flex;
  flex-direction: column;
  padding-top: $dist-xs;

  .select-with-title {
    padding-bottom: $dist-l;
  }

  .text-with-title {
    padding-bottom: $dist-m;
  }

  .call-to-action {
    align-self: flex-end;
  }
}
