@import "../../_settings/variables.scss";

.icon {
  color: $silver-sand;
  display: inline;
  position: relative;
  cursor: pointer;

  &.small {
    font-size: 10px;
  }

  &.medium {
    font-size: $large-font-size;
  }

  &.large {
    font-size: $xl-font-size;
  }
}

.tooltip:hover {
  &:before {
    font-family: $font-family;
    font-size: $medium-font-size;
    color: $black;
    background: $secondary-bg-color;
    border-radius: $border-radius;
    line-height: $line-height;
    box-shadow: $box-shadow;
    bottom: calc(100% + #{$dist-s});
    white-space: nowrap;
    content: attr(tooltip);
    padding: $dist-s;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  &:after {
    bottom: calc(100% + #{$dist-xs});
    content:"";
    background: $secondary-bg-color;
    width: $dist-s;
    height: $dist-s;
    box-shadow: 1px 1px 0.009em 0 rgba(0, 0, 0, 0.05);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    position: absolute;
  }
}
