@import './variables';
@import './reset';

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: $md-secondary-color;
  font-size: $base-font-size;
  font-family: $font-family;
}

.no-events {
  pointer-events: none;
}
