@import url('https://fonts.googleapis.com/css?family=Exo:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// font styles
$font-family: "Exo", sans-serif;
$small-font-size: 11px;
$base-font-size: 14px;
$medium-font-size: 17.5px;
$large-font-size: 22px;
$xl-font-size: 27px;
$xxl-font-size: 34px;
$font-bold: 600;

$line-height: 1.7;

// colors
$md-primary-color: #0576FF;
$md-secondary-color: #F4F6F7;
$secondary-bg-color: #FFFFFF;
$silver-sand: #C4C6C7;
$porcelain: #F0F1F2;
$dark-grey: #dadada;
$black: #000000;
$blue: #0000FF;
$azure-radiance: #0076FF;
$success-color: #7ED323;
$error-color: #FD3947;
$white: #FFFFFF;
$white-semi-transparent: rgba(255, 255, 255, 0.7);

$border-size: 2px;
$quick-animation: 100ms;
$medium-animation: 300ms;
$slow-animation: 500ms;

// distances
$dist-2xs: 4px;
$dist-xs: 8px;
$dist-s: 16px;
$dist-m: 24px;
$dist-l: 32px;
$dist-xl: 40px;
$dist-2xl: 48px;
$dist-3xl: 56px;
$dist-4xl: 64px;
$dist-5xl: 72px;
$dist-6xl: 80px;

// shadows
$box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.15), 0 2px 5px -2px rgba(0, 0, 0, 0.12);
$box-shadow2: 0 15px 22px -6px rgba(0, 0, 0, 0.21);

// borders
$small-border-radius: 2px;
$base-border-radius: 4px;
