@import url('https://fonts.googleapis.com/css?family=Tajawal');

// font styles
$font-family: 'Tajawal', sans-serif;
$base-font-size: 14px;

// colors
$bg-color: #F5F7F8;

// distances
$dist-xs: 8px;
$dist-s: 16px;
$dist-m: 24px;
$dist-l: 32px;
$dist-xl: 40px;

// shadows
$box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.24), 0 2px 5px -2px rgba(0, 0, 0, 0.12);

// borders
$wrapper-radius: 4px;
$wrapper-border: solid 1px transparent;
