@import "../../_settings/variables.scss";

.amount {
  display: flex;
  justify-content: space-between;

  &.small {
    font-size: $medium-font-size;
  }

  &.medium {
    font-size: $large-font-size;
  }

  &.large {
    font-size: $xxl-font-size;
  }
}
