@import "../../_settings/variables.scss";

.link {
  text-decoration: none;
  display: inline-block;
}

.link-small {
  font-size: $base-font-size;
}

.link-medium {
  font-size: $medium-font-size;
}

.link-large {
  font-size: $large-font-size;
}
