.link {
  text-decoration: none;
  color: #333333;

}

.small-link {
  font-size: 1em;
  padding: 10px;
}

.medium-link {
  font-size: 1.2em;
  padding: 15px;
}

.large-link {
  font-size: 1.7em;
  padding: 20px;
}
