@import "../../_settings/variables.scss";

.tooltip {
  color: $silver-sand;
  cursor: pointer;

  &.small {
    font-size: 10px;
  }

  &.medium {
    font-size: $large-font-size;
  }

  &.large {
    font-size: $xl-font-size;
  }
}
