@import "../../_settings/variables.scss";

.tooltip-container {
  position: absolute;
  font-family: $font-family;
  font-size: $medium-font-size;
  border-radius: $border-radius;
  color: $black;
  z-index:0;
  bottom: calc(100% + #{$dist-s});
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-text:before,
.tooltip-text:after{
  border-radius: $border-radius;
  display: block;
  content: "";
  position: absolute;
  z-index: -100;
  width: 50%;
  top: 0;
  bottom: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-out;
}

.tooltip-text:before {
  border-radius: $border-radius;
  left: 0;
  border-bottom-right-radius: 1rem;
}

.tooltip-text:after{
  border-radius: $border-radius;
  right: 0;
  border-bottom-left-radius: 1rem;
}

.tooltip-text {
  line-height: $line-height;
  border-radius: $border-radius;
  background: $secondary-bg-color;
  padding: $dist-s;
}

.tooltip-tip {
  position: absolute;
  z-index: -100;
  display: block;
  width: 1rem;
  height: 1rem;
  background: $secondary-bg-color;
  left: 50%;
  bottom: -0.5rem;
  transform:
    translateX(-50%)
    rotate(45deg);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease-out;
}
