[
    {
        "scope": "https://api.ercdex.com:443",
        "method": "POST",
        "path": "/api/standard/42/v0/order",
        "body": "",
        "status": 400,
        "response": {
            "fields": {
                "request.maker": {
                    "message": "'maker' is required"
                },
                "request.taker": {
                    "message": "'taker' is required"
                },
                "request.makerTokenAmount": {
                    "message": "'makerTokenAmount' is required"
                },
                "request.takerTokenAmount": {
                    "message": "'takerTokenAmount' is required"
                },
                "request.makerFee": {
                    "message": "'makerFee' is required"
                },
                "request.takerFee": {
                    "message": "'takerFee' is required"
                },
                "request.makerTokenAddress": {
                    "message": "'makerTokenAddress' is required"
                },
                "request.takerTokenAddress": {
                    "message": "'takerTokenAddress' is required"
                },
                "request.salt": {
                    "message": "'salt' is required"
                },
                "request.feeRecipient": {
                    "message": "'feeRecipient' is required"
                },
                "request.exchangeContractAddress": {
                    "message": "'exchangeContractAddress' is required"
                },
                "request.expirationUnixTimestampSec": {
                    "message": "'expirationUnixTimestampSec' is required"
                },
                "request.ecSignature": {
                    "message": "'ecSignature' is required"
                }
            },
            "message": "An error occurred during the request.",
            "name": "ValidateError",
            "status": 400
        },
        "rawHeaders": [
            "Tue, 04 Sep 2018 14:51:14 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "954",
            "close",
            "__cfduid=dc15b8f11196c0c2c939816582fdc6f9d1536072674; expires=Wed, 04-Sep-19 14:51:14 GMT; path=/; domain=.ercdex.com; HttpOnly; Secure",
            "off",
            "SAMEORIGIN",
            "max-age=15552000; includeSubDomains",
            "noopen",
            "nosniff",
            "1; mode=block",
            "X-HTTP-Method-Override",
            "*",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "455145e77e513d89-MXP"
        ]
    }
]