[
    {
        "scope": "https://api.ercdex.com:443",
        "method": "POST",
        "path": "/api/standard/1/v0/fees",
        "body": "",
        "status": 400,
        "response": {
            "fields": {
                "request.maker": {
                    "message": "'maker' is required"
                },
                "request.taker": {
                    "message": "'taker' is required"
                },
                "request.exchangeContractAddress": {
                    "message": "'exchangeContractAddress' is required"
                },
                "request.makerTokenAddress": {
                    "message": "'makerTokenAddress' is required"
                },
                "request.takerTokenAddress": {
                    "message": "'takerTokenAddress' is required"
                },
                "request.makerTokenAmount": {
                    "message": "'makerTokenAmount' is required"
                },
                "request.takerTokenAmount": {
                    "message": "'takerTokenAmount' is required"
                },
                "request.expirationUnixTimestampSec": {
                    "message": "'expirationUnixTimestampSec' is required"
                },
                "request.salt": {
                    "message": "'salt' is required"
                }
            },
            "message": "An error occurred during the request.",
            "name": "ValidateError",
            "status": 400
        },
        "rawHeaders": [
            "Tue, 04 Sep 2018 14:52:07 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "716",
            "close",
            "__cfduid=d2f56787848dab33c8b64288ecacabaf51536072727; expires=Wed, 04-Sep-19 14:52:07 GMT; path=/; domain=.ercdex.com; HttpOnly; Secure",
            "off",
            "SAMEORIGIN",
            "max-age=15552000; includeSubDomains",
            "noopen",
            "nosniff",
            "1; mode=block",
            "X-HTTP-Method-Override",
            "*",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "455147304839431c-MXP"
        ]
    }
]