[
    {
        "scope": "https://api.ercdex.com:443",
        "method": "GET",
        "path": "/api/standard/1/v0/orderbook?",
        "body": "",
        "status": 400,
        "response": {
            "fields": {
                "baseTokenAddress": {
                    "message": "'baseTokenAddress' is required"
                },
                "quoteTokenAddress": {
                    "message": "'quoteTokenAddress' is required"
                }
            },
            "message": "An error occurred during the request.",
            "name": "ValidateError",
            "status": 400
        },
        "rawHeaders": [
            "Tue, 04 Sep 2018 11:19:47 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "228",
            "close",
            "__cfduid=db35effa58e81ac7cc59af7f53ea38fed1536059987; expires=Wed, 04-Sep-19 11:19:47 GMT; path=/; domain=.ercdex.com; HttpOnly; Secure",
            "off",
            "SAMEORIGIN",
            "max-age=15552000; includeSubDomains",
            "noopen",
            "nosniff",
            "1; mode=block",
            "*",
            "1.1 google",
            "clear",
            "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
            "cloudflare",
            "4550102908ea3da1-MXP"
        ]
    }
]