@import "../../_settings/variables.scss";

.left-navbar {
  padding-left: $dist-m;
  min-width: 20 * $dist-xs;

  &:first-child {
    margin-top: $dist-2xl;
  }
  > *:not(:first-child) {
    margin-top: $dist-m;
  }

  .left-navbar-divider {
    width: $dist-l;
    height: 1px;
    margin: $dist-xl 0;
    background-color: $dark-grey;
  }
}
