@import "../../_settings/variables.scss";

.item-symbol {
  font-size: 1.2 * $base-font-size;
  font-weight: $font-bold;
  text-transform: uppercase;
  display: block
}

.item-name {
  display: block;
}
