@import "../../_settings/variables.scss";

.list-item-value-small {
  font-size: $base-font-size;
}

.list-item-value-medium {
  font-size: 1.3 * $base-font-size;
}

.list-item-value-large {
  font-size: 2 * $base-font-size;
}
