@import "../../_settings/variables.scss";

.title {
  font-weight: $font-bold;

  &.small {
    font-size: $medium-font-size;
  }

  &.medium {
    font-size: $large-font-size;
  }

  &.large {
    font-size: $xxl-font-size;
  }
}
