@import "../../_settings/variables.scss";

.ReactTable {
  border: none;
  background: $secondary-bg-color;
  overflow: hidden;
  border-radius: 2px;
  font-size: $base-font-size;

  .rt-th.rt-resizable-header {
    &:focus {
      outline: none;
    }
  }
  .rt-tr-group {
    border-radius: 2px;
  }
  .rt-tr.-even {
    background-color: $secondary-bg-color;
  }
  .rt-tbody .rt-tr-group {
    border: none;
  }

  .rt-tr.-odd {
    background-color: $porcelain;
    border-radius: 2px;
  }

  .rt-thead.-header {
    font-weight: bold;
    background-color: $porcelain;
    box-shadow: none;
    border-bottom: 1px solid #dadada;
  }
  .link-icon {
    color: $azure-radiance;
  }
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-tbody .rt-td {
  border-right: none;
}

.ReactTable.-striped .rt-tr.-odd {
  background: $porcelain;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  display: flex;
  justify-content: flex-start;
}
