@import "../../_settings/variables.scss";
@import url('~react-table/react-table.css');

.ReactTable {
  border: none;
  background: $secondary-bg-color;
  overflow: hidden;
  border-radius: $small-border-radius;
  font-size: $base-font-size;
  .rt-th.rt-resizable-header:focus, .rt-th:focus {
    outline: none;
  }
  .rt-tr-group {
    border-radius: $small-border-radius;
  }
  .rt-tr.-even {
    background-color: $secondary-bg-color;
  }
  .rt-tbody .rt-tr-group {
    border: none;
  }
  .rt-tr.-odd {
    background-color: $porcelain;
    border-radius: $small-border-radius;
  }
  .rt-thead.-header {
    font-weight: bold;
    background-color: $porcelain;
    box-shadow: none;
    border-bottom: 1px solid $dark-grey;
  }
  .link-icon {
    color: $azure-radiance;
  }
}

.ReactTable .rt-thead .rt-th, .ReactTable .rt-tbody .rt-td {
  border-right: none;
}

.ReactTable.-striped .rt-tr.-odd {
  background: $porcelain;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  display: flex;
  justify-content: flex-start;
}
