@import "../../_settings/variables.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $dist-s;
  background: $md-secondary-color;
  &:nth-child(2) {
    background: $secondary-bg-color;
  }
}
