@import "../../_settings/variables.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  padding: $dist-s;
  &:nth-child(2) {
    background: #F4F6F7;
  }
}

.list-item-default {
  background: #FFFFFF;
}

.list-item-grey {
  background: #F4F6F7;
}
