@import "../../_settings/variables.scss";

.content-wrapper {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $dist-s;
  border-radius: $wrapper-radius;
  box-shadow: $box-shadow;
  border: $wrapper-border;
  background: #FFFFFF;
  display: flex;

  h1 {
    flex-grow: 1;
  }

  i {
    color: #C4C6C7;
  }

  .content-wrapper-content {
    flex-basis: 100%;
  }
}
