@import "../../_settings/variables.scss";

.content-wrapper {
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $dist-s;
  border-radius: $wrapper-radius;
  box-shadow: $box-shadow;
  background: #FFFFFF;
  display: flex;
  overflow: hidden;

  .content-wrapper-header {
    flex-grow: 1;
    display: flex;
    padding: $dist-s 0;
    h1 {
      flex-grow: 1;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
    }
    .tooltip {
      color: $light-grey;
    }
  }
  .content-wrapper-content {
    flex-basis: 100%;
  }
}
