@import "../../_settings/variables.scss";

.form-modal {
  max-width: 9.25 * $dist-l;
  background: $secondary-bg-color;

  .form-header, .form-content {
    padding: $dist-s;
  }

  .modal-divider {
    background: $dark-grey;
    height: 1px;
  }
}

