@import "../../_settings/variables.scss";

.vault-select {
  margin-top: $dist-3xl;
  max-width: 5 * $dist-6xl;
  .active {
    border: solid 2px $azure-radiance;
    padding: ($dist-s - 2px);
  }
  text-decoration: none;
  .list-item {
    cursor: pointer;
    user-select: none;
    background: $porcelain;
    &:nth-child(2n) {
      background: $md-secondary-color;
    }
  }
}
