@import "../../_settings/variables.scss";

.select-field {
  background: $panels-color;
  border-radius: $wrapper-radius;
  box-shadow: $box-shadow;
}

.select-field-list {
  border-radius: $wrapper-radius $wrapper-radius 0 0;
}
