@import "../../_settings/variables.scss";

.select-field {
  background: $panels-color;
  border-radius: $wrapper-radius;
  box-shadow: $box-shadow;
  transition: border-radius 300ms;

  .md-ink-container {
    border-radius: $wrapper-radius;
    transition: border-radius 300ms;
  }

  &[aria-expanded="true"] {
    border-radius: $wrapper-radius $wrapper-radius 0 0;
    .md-ink-container {
      border-radius: $wrapper-radius $wrapper-radius 0 0;
    }
  }
}
